<div class="login-container">
  <div class="login-card">
    <h1>Login</h1>

    <form (ngSubmit)="loginUser()" class="form">
      <div class="form-item">
        <label for="email">Email:</label>
        <input
          [(ngModel)]="userData.email"
          name="email"
          type="email"
          [required]="true"
        />
      </div>
      <div class="form-item">
        <label for="password">Password:</label>
        <input
          [(ngModel)]="userData.password"
          name="password"
          type="password"
          [required]="true"
        />
      </div>
      <button type="submit">Submit</button>
    </form>
    <div class="small">
      New User?

      <a routerLink="/signup">Sign Up</a>
    </div>
  </div>
</div>
