/* You can add global styles to this file, and also import other style files */
@import url("https://api.fontshare.com/v2/css?f[]=general-sans@1&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "general sans", sans-serif;
  font-weight: 500;
}

h1 {
  font-weight: 600;
}

input,
select {
  border: 1px solid #eee;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;

  &.small {
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 4px;
  }
}

button {
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #faad14;

  &.icon {
    border-radius: 50%;
    padding: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 12px;
  }

  &.small {
    padding: 4px 6px;
    font-size: 12px;
    line-height: 1;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .form-item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      font-size: 16px;
    }
  }
}

div.small {
  gap: 4px;
  font-size: 12px;
  text-align: center;
  a {
    font-weight: 600;
    color: inherit;
  }
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;

  &.P-0 {
    background-color: #d9363e;
    color: white;
  }
  &.P-1 {
    background-color: #ff4d4f;
    color: white;
  }
  &.P-2 {
    background-color: #ff7875;
  }
  &.P-3 {
    background-color: #ffa39e;
  }
  &.P-4 {
    background-color: #ffccc7;
  }

  &.inp {
    background-color: #1677ff;
    color: white;
  }

  &.todo {
    background-color: #faad14;
  }
  &.completed {
    background-color: #52c41a;
    color: white;
  }

  &.pill {
    width: unset;
    border-radius: 8px;
    padding: 0 8px;
  }
}
