.todo-container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .todo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 49;
    padding: 12px 24px;
    background-image: linear-gradient(to bottom, #fff 70%, transparent);
  }

  .filter-row {
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 24px;

    .key {
      display: flex;
      flex-direction: column;
      gap: 16px;
      flex: 1;

      .wrapper {
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 2px;

        p {
          font-size: 12px;
        }

        .title {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }

      .priority {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }

    .filters {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .filter-section {
      display: flex;
      font-size: 12px;
      align-items: center;
      gap: 8px;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: start;

      .filter-section {
        flex-direction: column;
        align-items: start;
      }
    }
  }

  .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 12px;
    box-sizing: border-box;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    z-index: 50;

    .form-container {
      position: absolute;
      right: 0;
      top: 0;
      width: 350px;
      height: 100%;
      background-color: white;
      padding: 14px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 24px;

      .form-header {
        display: flex;
        width: 100%;
        justify-content: space-between;

        button {
          border-radius: 50%;
        }
      }

      .form {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .main-content {
      gap: 48px;
    }
  }
}
