<div class="home-container">
  <h1>Todoist</h1>
  <div class="card">
    <h2 style="font-weight: 600">Task Management Application</h2>

    <div class="list">
      <p>🎉 Welcome! Here are some tips for using the application!</p>
      <ul>
        <li>Signup to the application {{ "{email, password}" }}</li>
        <li>Create tasks by clicking the <b>Add Task</b> button</li>
        <li>Update the title and content by simply clicking on them</li>
        <li>Update the priority, due date and status from the menus</li>
        <li>View edit history by clicking the edit history button</li>
      </ul>
    </div>

    <div class="list">
      <button routerLink="/login">Login</button>
      <button routerLink="/signup">Signup</button>
    </div>
  </div>
</div>
